*
{
	box-sizing: border-box;
}

body
{
	font-family: arial;
	font-size: 11pt;
}

#header
{
	text-align: center;
}

#content
{
	width: 100%;
}

.section-title
{
	position: absolute;
	text-align: center;
	right: -2px;
	top: -2px;
	border-width: thick 1px 1px 1px 1px;
	border-style: solid;
	padding: 5px 50px 5px 50px;
}

.section-title h2
{
	margin: 0px;
}

#section-title-1
{
	background-color: #00ccff;
	color: #000000;
}

#section-title-2
{
	background-color: #40bf80;
	color: #000000;
}

#section-title-3
{
	background-color: #80ff00;
	color: #000000;
}

.section-body
{
	position: absolute;
	padding: 10px;
	top: 20px;
}

.content-section
{
	position: relative;
	border-width: thick 1px 1px 1px 1px;
	border-style: solid;
	margin: 10px;
}

#content-section-1
{
	background-color: #ccf5ff;
}

#content-section-2
{
	background-color: #daf1e6;
}

#content-section-3
{
	background-color: #e6ffcc;
}

/**********Desktop**********/


@media (min-width: 992px)
{
	@media (min-width: 1450px)
	{
		.content-section
		{
			height: 450px;
		}
	}

	@media (max-width: 1449px) and (min-width: 1260px)
	{
		.content-section
		{
			height: 500px;
		}
	}

	@media (max-width: 1259px) and (min-width: 1200px)
	{
		.content-section
		{
			height: 550px;
		}
	}

	@media (max-width: 1199px) and (min-width: 1080px)
	{
		.content-section
		{
			height: 600px;
		}
	}

	@media (max-width: 1079px) and (min-width: 992px)
	{
		.content-section
		{
			height: 650px;
		}
	}

	.col-desktop-1, .col-desktop-2, .col-desktop-3, .col-desktop-4, .col-desktop-5, .col-desktop-6,
	.col-desktop-7, .col-desktop-8, .col-desktop-9, .col-desktop-10, .col-desktop-11, .col-desktop-12
	{
		float: left;
	}

	.col-desktop-1
	{
		width: 8.33%;
	}

	.col-desktop-2
	{
		width: 16.66%;
	}

	.col-desktop-3
	{
		width: 25%;
	}

	.col-desktop-4
	{
		width: 33%;
	}

	.col-desktop-5
	{
		width: 41.66%;
	}

	.col-desktop-6
	{
		width: 50%;
	}

	.col-desktop-7
	{
		width: 58.33%;
	}

	.col-desktop-8
	{
		width: 66.66%;
	}

	.col-desktop-9
	{
		width: 74.99%;
	}

	.col-desktop-10
	{
		width: 83.33%;
	}

	.col-desktop-11
	{
		width: 91.66%;
	}

	.col-desktop-12
	{
		width: 100%;
	}
}

/**********Tablet**********/
@media (max-width: 991px) and (min-width: 768px) 
{
	@media (max-width: 991px) and (min-width: 860px)
	{
		#content-section-1, #content-section-2
		{
			height: 400px;
		}

		#content-section-3
		{
			height: 300px;
		}
	}

	@media (max-width: 859px) and (min-width: 768px)
	{
		#content-section-1, #content-section-2
		{
			height: 470px;
		}

		#content-section-3
		{
			height: 330px;
		}
	}

	.col-tablet-1, .col-tablet-2, .col-tablet-3, .col-tablet-4, .col-tablet-5, .col-tablet-6,
	.col-tablet-7, .col-tablet-8, .col-tablet-9, .col-tablet-10, .col-tablet-11, .col-tablet-12
	{
		float: left;
	}

	.col-tablet-1
	{
		width: 8.33%;
	}

	.col-tablet-2
	{
		width: 16.66%;
	}

	.col-tablet-3
	{
		width: 25%;
	}

	.col-tablet-4
	{
		width: 33%;
	}

	.col-tablet-5
	{
		width: 41.66%;
	}

	.col-tablet-6
	{
		width: 50%;
	}

	.col-tablet-7
	{
		width: 58.33%;
	}

	.col-tablet-8
	{
		width: 66.66%;
	}

	.col-tablet-9
	{
		width: 74.99%;
	}

	.col-tablet-10
	{
		width: 83.33%;
	}

	.col-tablet-11
	{
		width: 91.66%;
	}

	.col-tablet-12
	{
		width: 100%;
	}
}
/**********Mobile**********/
@media (max-width: 767px)
{
	@media (max-width: 767px) and (min-width: 700px)
	{
		#content-section-1, #content-section-2
		{
			height: 300px;
		}

		#content-section-3
		{
			height: 350px;
		}
	}

	@media (max-width: 699px) and (min-width: 550px)
	{
		#content-section-1, #content-section-2
		{
			height: 350px;
		}

		#content-section-3
		{
			height: 450px;
		}
	}

	@media (max-width: 549px)
	{
		#content-section-1, #content-section-2
		{
			height: 400px;
		}

		#content-section-3
		{
			height: 500px;
		}
	}

	.col-mobile-1, .col-mobile-2, .col-mobile-3, .col-mobile-4, .col-mobile-5, .col-mobile-6,
	.col-mobile-7, .col-mobile-8, .col-mobile-9, .col-mobile-10, .col-mobile-11, .col-mobile-12
	{
		float: left;
	}

	.col-mobile-1
	{
		width: 8.33%;
	}

	.col-mobile-2
	{
		width: 16.66%;
	}

	.col-mobile-3
	{
		width: 25%;
	}

	.col-mobile-4
	{
		width: 33%;
	}

	.col-mobile-5
	{
		width: 41.66%;
	}

	.col-mobile-6
	{
		width: 50%;
	}

	.col-mobile-7
	{
		width: 58.33%;
	}

	.col-mobile-8
	{
		width: 66.66%;
	}

	.col-mobile-9
	{
		width: 74.99%;
	}

	.col-mobile-10
	{
		width: 83.33%;
	}

	.col-mobile-11
	{
		width: 91.66%;
	}

	.col-mobile-12
	{
		width: 100%;
	}
}